<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "produce-tomatos-web.jpg" %>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header greeting"><%= @store.name.capitalize %></h2>
    <p class="grey-text text-darken-3 lighten-3 bio"><%= @store.bio %></p>
  </div>
</div>
