<center><img class="responsive-img" src="<%= @oil.oil_image %>"></center>

<div class="items">
  <div class="row">
    <%= render @oil.gimee_your_items %>
</div>

<%= link_to "Return to oils", categories_path, class: "waves-effect waves-light btn" %>
