<div class="col m4">
  <div class="card medium">
    <div class="card-image">
      <center><%= image_tag item.image.url, class: "responsive-img"%></center>
    </div>
    <div class="card-content" id="<%= item.slug%>">
      <%= render partial: 'admin/items/item_layout', locals: {item: item, source: "index"} %>
    </div>
  </div>
</div>
