<!-- ORIGINAL! -->
<!-- <center><image src="http://i.imgur.com/nmKGgPr.jpg"></center>
<%= render partial: "shared/search" %>

<div class="items">
  <div class="row">
    <%= render @items %>
  </div>
</div> -->

<h3>Featured Items</h3>


<div class="right">
  <%= link_to "View All", %>
</div>
